<div class="wrapper overlay coloured">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <!--<div class="sectiontitle">-->
            <!--<h6 class="heading">Varius tristique</h6>-->
            <!--<p>Luctus et ultrices posuere cubilia curae maecenas.</p>-->
        <!--</div>-->
        <ul id="stats" class="nospace group">
            <li class="one_third first"><a href="#"><i class="fa fa-3x fa-cogs"></i></a>
                <p>Stagiaires formés</p>
                <p>12</p>
            <li class="one_third"><a href="#"><i class="fa fa-3x fa-connectdevelop"></i></a>
                <p>Recrutements</p>
                <p>3</p>
            </li>
            <li class="one_third"><a href="#"><i class="fa fa-3x fa-comments-o"></i></a>
                <p>Billets de blogue</p>
                <p>{{ site.posts.size }}</p>
            </li>
            <!--<li class="one_quarter"><a href="#"><i class="fa fa-3x fa-sliders"></i></a>-->
                <!--<p>Venenatis</p>-->
                <!--<p>12345</p>-->
            <!--</li>-->
        </ul>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->