<section id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <h6 class="heading">
       {% if page.title %}{{ page.title }}{% endif %}
       {% if post.title %}{{ post.title }}{% endif %}
    </h6>
    <!-- ################################################################################################ -->
    <ul>
        <li><a href="{{ site.baseurl }}">Home</a></li>
        {% if page.title %}<li><a href="{{ page.permalink }}">{{ page.title }}</a></li>{% endif %}
        {% if post.title %}<li><a href="}">{{ post.title }}</a></li>{% endif %}
    </ul>
    <!-- ################################################################################################ -->
</section>