<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('assets/layout/images/demo/backgrounds/02.png');">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_half first">
            <h6 class="heading">Floria</h6>
            <p>Spécialisée sur le développement front-end. Nous formons vos génies de demain. Nous vous proposons également des spécialistes en prestation.</p>
            <!--<p class="btmspace-50">Pretium curabitur magna odio laoreet eu accumsan vitae gravida quis odio.</p>-->
            <nav>
                <ul class="nospace">
                    <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                    <li><a href="formationd">Formations</a></li>
                    <li><a href="recrutement">Recrutement</a></li>
                    <li><a href="pack-emploi-et-formation">"Emploi et Formation"</a></li>
                    <li><a href="about">A propos</a></li>
                    <!--<li><a href="#">Cookies</a></li>-->
                    <!--<li><a href="#">Disclaimer</a></li>-->
                    <!--<li><a href="#">Online Shop</a></li>-->
                    <!--<li><a href="#">Sitemap</a></li>-->
                </ul>
            </nav>
        </div>
        <div class="one_half">
            <h6 class="heading">Contact</h6>
            <ul class="nospace btmspace-30 linklist contact">
                <!--<li><i class="fa fa-map-marker"></i>-->
                    <!--<address>-->
                        <!--Street Name &amp; Number, Town, Postcode/Zip-->
                    <!--</address>-->
                <!--</li>-->
                <!--<li><i class="fa fa-phone"></i> 06 02 02 02 02</li>-->
                <!--<li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>-->
                <li><i class="fa fa-envelope-o"></i> contact@floria-consulting.com</li>
            </ul>
            <ul class="faico clear">
                <!--<li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
                <!--<li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--<li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>-->
                <!--<li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>-->
            </ul>
        </div>
        <div class="one_third">
            <!--<h6 class="heading">Laissez nous un message</h6>-->
            <article><a href="#"><img class="btmspace-15" src="assets/layout/images/demo/320x140.png" alt=""></a>
                <h6 class="nospace font-x1"><a href="/">Floria consulting</a></h6>
                <time class="font-xs block btmspace-10" datetime="2015-04-01">1<sup>er</sup> Avril 2015</time>
                <p class="nospace">Floria consulting ouvrait ses portes avec l'idée de créer de l'emploi sur le marché
                du développement front-end.</p>
            </article>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - Tous droits réservés - <a href="/">floria-consulting.com</a></p>
        <!--<p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>-->
        <!-- ################################################################################################ -->
    </div>
</div>