<div class="bgded overlay" style="background-image:url('assets/layout/images/demo/backgrounds/office-581131_1920.jpg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1 {% if page.url == "/" %} class="active" {% endif %} ><a href="index.html">Floria Consulting</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">{% include main-menu.html %}</ul>
            </nav>
            <!-- ################################################################################################ -->
        </header>
    </div>
    {% if page.url == "/" %} {% include pageinto.html %} {% endif %}
    {% if page.url != "/" %} {% include breadcrumb.html %} {% endif %}
    <!-- ################################################################################################ -->
</div>
