<!-- This loops through the paginated posts -->
<div class="group excerpts">
{% for post in site.posts %}
<article class="one_third">
    <figure>
        {% if post.og_image %}
            <img src="{{post.og_image}}" alt="">
        {% else %}
            <img src="assets/layout/images/demo/320x220.png" alt="">
        {% endif %}
        <figcaption>
            <time datetime="{{ post.date }}"><strong>{{ post.date | date: "%d" }}</strong> <em>{{ post.date | date: "%b" }}</em></time>
        </figcaption>
    </figure>
    <div class="hgroup">
        <h4 class="heading">{{ post.title }}</h4>
        <!--<ul class="nospace meta">-->
            <!--<li>by <a href="#">Admin</a></li>-->
            <!--<li>in <a href="#">Category Name</a></li>-->
        <!--</ul>-->
    </div>
    <div class="txtwrap">
        {{ post.excerpt }}
    </div>
    <footer><a class="btn" href="{{site.baseurl}}{{ post.url }}">Lire la suite &raquo;</a></footer>
</article>
{% endfor %}
</div>

<!-- ################################################################################################ -->
<div class="clear"></div>

{% if paginator.total_posts > 1 %}
<!-- Pagination links -->
<div class="pagination">
    <ul>
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}" class="previous">Précédent</a></li>
        {% else %}
        <li><span class="previous">Précédent</span></li>
        {% endif %}
        <li><span class="page_number ">Page: {{ paginator.page }} / {{ paginator.total_pages }}</span></li>
        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}" class="next">Suivant</a></li>
        {% else %}
        <li><span class="next ">Suivant</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}