<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<section id="pageintro" class="hoc clear">
    <div>
        <!-- ################################################################################################ -->
        <h2 class="heading">Floria consulting</h2>
        <p>Spécialisé sur le développement front-end. Nous formons vos génies de demain. Nous vous proposons également
            des spécialistes en prestation.</p>
        <!--<footer><a class="btn" href="#">Vulputate</a></footer>-->
        <!-- ################################################################################################ -->
    </div>
</section>