<h2>Nos prochaines sessions</h2>

<ul>
  <li><a href="/formations/progressive-web-app">Progressive Web App</a> : Mai 2018 (4 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
  <li><a href="/formations/html-css-js">HTML/CSS/JS</a> : Mai 2018 (3 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
  <li><a href="/formations/javascript">Javascript</a> : Mai 2018 (4 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
  <li><a href="/formations/backbone">Backbone</a> : Juillet 2018 (3 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
  <li><a href="/formations/angular">Angular</a> : Juin 2018 (3 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
  <li><a href="/formations/nodejs">Node JS</a> : Octobre 2018 (3 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
  <li><a href="/formations/react">React.JS</a> : Septembre 2018 (3 jours) : <a href="mailto:contact@floria-consulting.com">Demander une convention de formation</a></li>
</ul> 